/*
 uwagi - jak określać kolory w CSS
 * 
 * albo podajecie nazwę koloru - spis nazw niektórych (a może wszystkich) kolorów jest np. tu:
 *
 *  https://www.w3schools.com/colors/colors_names.asp

 * ale tych kolorów jest jedynie 140

 * ale można też inaczej: https://www.w3schools.com/html/html_colors.asp
 * poczytać w sekcji "color values"
 *
 * do pobierania kodów można skorzysać np. z takiego narzędzia:
 * 
 * https://colorpicker.me/#fbfbfb         <--- pobawcie się tym
 * 
*/

@charset "utf-8";

body {
    font-family: 'Arial', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.główka {
  height: 70px;
  background-color: black;
}

.menu {
  width: 30%;
  height: 100%;
}

.menu-a {
  padding: 25px 20px;
  height: 70px;
}

.okno {
  height: 650px;
  background-color: gray;
}

.historia {
  height: 350px;
  background-color: rgb(43, 43, 43);
}

.historia-lewy,
.historia-prawy {
  width: 50%;
}

.historia-lewy {
  background-color: black;
}

.oferta {
  height: 300px;
  background-color: silver;
}

.oferta-lewy,
.oferta-środek,
.oferta-prawy {
  width: 33%;
}

.oferta-środek {
  background-color: burlywood;
}

.stopka {
  height: 80px;
  background-color: rgb(43, 43, 43);
  text-align: center;
}
